<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
          <img src="public/avatar.jpg" style="border-radius: 50%; width: 120px; height: 120px; margin-bottom: 1rem;" alt="Profile Picture">
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item" href="{{ node.url }}">About</a>
      <a class="sidebar-nav-item" href="{{ node.url }}">Projects</a>
      <a class="sidebar-nav-item" href="public/Darin Lei CV.pdf">CV</a>
      <a class="sidebar-nav-item" href="">darin.lei@mail.utoronto.ca</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
